.footer {
	grid-area: footer;
	padding: 20px;
	display: grid;
	height: 30px;
	grid-template-columns: minmax(490px, 1180px);
	grid-template-areas: 'year';
	background: $black;

	&_link {
		margin: 0 auto;
		grid-area: year;
		font-family: 'Titillium Web';
		font-style: normal;
		font-weight: 800;
		font-size: 30px;
		color: $white;
		text-decoration: none;
	}
	align-items: center;
}
